<h1>test</h1>
{% if badges.items %}
  <nav class="nav" aria-label="{{ariaLabel}}">
    <ul class="[ nav__list ] [ box-flex align-center md:space-before ]">
      {% for item in badges.items %}
        
        <li class="nav__item">
          <a href="{{ item.url }}"<a href="{{ item.image }}" alt="{{ item.alt }}" /></a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}